{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col">
  <div class="flex flex-col items-center justify-center">
    <div class="overflow-x-auto relative">
      <div class="flex justify-between items-center pt-10 pb-5 w-full">
        <h1 class="text-gray-600 font-semibold text-xl">Eventos que te has inscrito</h1>
      </div>

      <div class="overflow-x-auto relative shadow-sm sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="py-3 px-6">Nombre</th>
              <th scope="col" class="py-3 px-6">Descripcion</th>
              <th scope="col" class="py-3 px-6">Ubicación</th>
              <th scope="col" class="py-3 px-6">Fecha y hora</th>
              <th scope="col" class="py-3 px-6">Opciones</th>
            </tr>
          </thead>

          <tbody>
            {% for event in enrolled_events %}

            <tr class="bg-white border-b">
              <td class="py-4 px-6">{{ event.name }}</td>
              <td class="py-4 px-6">{{ event.description }}</td>
              <td class="py-4 px-6">{{ event.location }}</td>
              <td class="py-4 px-6">{{ event.date_time }}</td>

              <td class="py-4 px-6">
                <a href="{% url 'events:detail' event.pk %}" class="text-blue-500">
                  Ver Detalle
                </a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
